* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", serif;
}
.banner {
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url(img/hero-bg.png);

  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  margin-bottom: 120px;
}
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 920px;
}
.b-content {
  width: 50%;
  text-align: center;
}
.b-content h5 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: white;
}
.b-content h2 {
  font-size: 50px;
  line-height: 80px;
  color: white;
}
.b-content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 32px
}
.banner-btn {
  text-align: center;
  
}
.banner-btn button {
  padding: 21px 32px 21px 32px;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: white;
  cursor: pointer;
}

/* brand start */
  .brand{
    max-width: 1320px;
    margin: 0 auto;
  }
  .brand-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  .brand-title-part{
    text-align: center;
    margin-bottom: 50px;
  }
  .brand-title-part h2{
    font-size: 48px;
font-weight: 700;
line-height: 64px;
  }
  .brand-title-part h5{
    font-size: 24px;
font-weight: 500;
line-height: 28px;
    color: #707070;
  }
  .card{
    width: 424px;
    text-align: center;
  }
  .card span{
    border-radius: 8px;
background: rgba(82, 195, 3, 0.15);
 padding: 14px 32px 14px 32px;
 font-size: 24px;
font-weight: 600;
line-height: 28px;
  
  }
  .card img{
    width: 400px;
    margin-bottom: 32px;
  }
  .card h3{
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 40px;
font-weight: 600;
line-height: 47px;
  }
  .card p{
    font-size: 18px;
font-weight: 500;
line-height: 28px;
color: #707070;
  }
  .brand-btn{
    text-align: center;
    margin-top: 60px;
  }
  .brand-btn button{
    padding: 21px 32px 21px 32px;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: white;
  cursor: pointer;
  }
/* brand end */

/* social part-1 */
.social-part-1{
  margin-top: 120px;
}
.social-first-part-container{
  display: flex;
  gap: 90px;
  align-items: center;
}

.content-part{
  text-align: center;
}
.content-part h2{
  font-size: 40px;
font-weight: 700;
line-height: 64px;

}
.content-part p{
  font-size: 24px;
font-weight: 500;
line-height: 28px;
margin-bottom: 70px;
margin-top: 24px;
color: #707070;
}
.content-part h5{
  font-size: 32px;
font-weight: 600;
line-height: 38px;
color: #707070;
}
.icons{
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 60px;
  cursor: pointer;
}
/* social part-1 */

/* footer start */
footer{
  background-image: url(img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  margin-top: 120px;
}
.extra-margin{
  margin-top: 70px;
}
/* footer end */
